h2 {
    text-align: center;
    background-color: #fde68a;
    color:#92400e;
}

h3 {
    color:#92400e;
}

.menu {
    background-color: #fed7aa;
    text-align: center;
}

a {
    color:#92400e;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.menu :hover{
    background-color:#78350f;
    color:yellow;
}

.baner {
    text-align: center;
    background-color: #fff7ed;
}

body {
    font-family: cursive;
}

.section {
    background-color: #ffffff;
}

div {
    display: block;
}

body {
    background-color: #fff7ed;
}

ol :hover{
    color:yellow;
    background: #78350f
}

.footer {
    background:#78350f;
    color:#ffffff;
    text-align: center;
}
